.slideCont {
  display: flex;
  flex-direction: column;

  .imgCont {
    left: 8rem;

    img {
      width: 12rem;
      height: auto;
    }
  }

  .text {
    color: white;
    display: flex;
    flex-direction: column;
  }
}
