@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* Variables de colores */
  /* Tipografías */
  --typo-main-white: #fff;
  --typo-second-blue: #2BB1FF;
  --typo-menu-fixed: #0a1c3a;
  --typo-cards-title: #0a1c3a;
  --typo-cards-link: #19aaff;
  --typo-main-hover: #2BB1FF;
  --typo-footer-columns-hover: #19aaff;
  --underline-titles: #0068c8;
  --typo-modal-main: #fff;
  --typo-modal-second: #bcc0d0;
  --typo-modal-third: #4e5a6c;
  --typo-modal-link: #19aaff;
  --hr-end-section: #4e5a6c;
  /*Botones*/
  --btn-buy-hero-hover: #025589;
  --btn-next-prev-main-border: #bcc0d0;
  --btn-next-prev-second-border: #4F596E;
  --btn-next-prev-hover: #025589;
  --btn-go-up: #0068C8;
  --btn-checked-bg: #0068C8;
  --btn-play-trailer-main: #0068C8;
  --btn-play-trailer-hover: #19AAFF;
  --btn-buy-fixed-menu: #025589;
  --dropdown-fixed-border: #0068c8;
  --close-modal-icon: #0068c8;
  --show-icon: #525455;
  --error-icon: #ff4955;
  --search-icon-selected: rgba(255, 255, 255, 0.5);
  --input-underline-modal: #4e5a6c;
  --input-underline-modal-hover-main: #19aaff;
  --input-underline-modal-hover-second: #0068c8;
  --input-underline-modal-hover-thirs: #fff;
  --input-underline-modal-error: #ff4955;
  --scrollbar-modal: #19aaff;
  --btn-background-main-modal: #0068C8;
  --location-modal-border: #333d4e;
  /* Fondos */
  --background-cinesa-logo-main: #051D36;
  /* fondo principal:
  background: radial-gradient(circle at center top,rgb(10,28,58) 0px,rgb(5,17,34) 900px,rgb(5,17,34))*/
  --background-gradient-main-home: rgb(10,28,58);
  --background-gradient-second-home: rgb(5,17,34);
  --background-gradient-third-home: rgb(5,17,34);
  /*Modales*/
  --background-location-modal-init: #3E4856;
  --background-location-modal-open: #0a1c3a;
  /*Footer*/
  --background-footer: #0a1c3a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
